*{
    margin: 0;
    padding: 0;
}
nav{
    padding: 1vw 2vw;
    display: flex;
    width: 96vw;
    border-bottom: 1px solid #8b8ba3;
    justify-content: space-between;
    align-items: center;
}
nav span{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 56vw;
}
nav span div img{
    width: 1.5vw;
}
nav span div input{
    width: 36vw;
    height: 3vh;
    border: none;
    color: #8b8ba3;
    font-family:'Nunito';
}
nav div{
    display: flex;
    align-items: center;
    border: 1px solid #8b8ba3;
    justify-content: space-around;
    width: 40vw;
    border-radius: 5px;
    height: 5vh;
}
#logo{
    width: 11vw;
}
nav ul{
    width: 35vw;
    margin-right: 5vw;
    margin-left: 2vw;
    list-style: none;
    display: flex;
    font-family:'Nunito';
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul li img{
    width: 1.4vw;
}