#trends{
    background: url("https://images.meesho.com/images/marketing/1762433553672.webp");
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 50vh;
}
#trends div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#trends div .photos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.1s linear;
}
#trends div .photos button{
    margin-top: 1.5vh;
    width: 13vw;
    padding: 1vh;
    border: 1px solid #ffa016;
    border-radius: 10px;
    font-size: large;
    background-color: #fff6e5;
    color: #590a46;
    cursor: pointer;
}
#trends div .photos img{
    width: 13vw;
}
#trends div .photos:hover{
    margin-top: -1.5vh;
    transition: all 0.1s linear;
}